{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Django+HTMX integration with the messages framework</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
  <body>
    <div class="container py-4">
      <div class="p-5 bg-light rounded-3 border">
        <h1>Django+HTMX</h1>
        <p class="lead">Integration with the messages framework</p>
        <p>
          <button class="btn btn-primary" hx-get="/message">Emit message</button>
        </p>
        <p>
          Click on the button above to trigger a <code>hx-get</code> that includes a message.
        </p>
        <p class="mb-0">
          This message is sent to the <i>messages</i> framework as in a regular Django project, then it's converted to a <code>HX-Trigger</code> header in a custom middleware.
        </p>
      </div>
    </div>
    {% include "toasts.html" %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.8.0" integrity="sha384-cZuAZ+ZbwkNRnrKi05G/fjBX+azI9DNOkNYysZ0I/X5ZFgsmMiBXgDZof30F5ofc" crossorigin="anonymous"></script>
    <script src="{% static 'toasts.js' %}"></script>
  </body>
</html>